## Convirtiendo tramas de datos de pandas a conjuntos de numpy o diccionarios
Muchas veces se va a requerir trabajar con tramas de datos en numpy debirdo a que muchas librerias no aceptan pandas, en especial las estadisticas.
para hacer esto, solo hay que hacer 
df.to_numpy

In [1]:
import pandas as pd
filename='/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScienceUnilever2022/Track 1/Clases/2-Pandas/data/linear.csv'
df=pd.read_csv(filename)

In [2]:
df

              x           y
0      0.000000  -51.000000
1     25.000000  -12.000000
2    117.583220  134.907414
3    108.922466  134.085180
4     69.887445         NaN
..          ...         ...
97   120.740859  133.922297
98   100.179788  126.827116
99    59.333765   50.257797
100  120.157757  144.754676
101  115.539152  120.697309

[102 rows x 2 columns]

In [3]:
df.to_numpy()

array([[  0.        , -51.        ],
       [ 25.        , -12.        ],
       [117.5832198 , 134.9074137 ],
       [108.9224662 , 134.0851795 ],
       [ 69.88744536,          nan],
       [ 96.83998269, 114.5306376 ],
       [ 51.77594025,  31.37643731],
       [ 35.01673734,   8.76463417],
       [ 79.45764646,  73.28534128],
       [ 45.3449093 ,  18.85986466],
       [ 77.76713229,  72.9466086 ],
       [ 55.85663802,  28.63728633],
       [ 51.8290553 ,  27.18413784],
       [ 36.07902502,  15.46895475],
       [ 80.63255196,  77.25552457],
       [124.4126644 , 147.817536  ],
       [ 38.88238694,  29.62914801],
       [ 85.24501874,  92.31571653],
       [105.4849878 , 111.063745  ],
       [ 36.82741469,   2.79748519],
       [ 98.61682009,  98.22796195],
       [102.1309415 , 117.0827211 ],
       [101.9740862 , 111.1555591 ],
       [122.5816416 , 147.0235042 ],
       [ 96.36839009,  99.62870641],
       [ 64.89044698,  47.94620302],
       [ 81.87156504,  80.51588907],
       [ 83.46634106,  76.65159462],
       [129.9988213 , 155.5832066 ],
       [129.5934245 , 155.830527  ],
       [ 71.30088195,  52.64410294],
       [ 89.63463319, 100.3291952 ],
       [ 82.74502445,  67.03050817],
       [ 84.29777124,  80.8896434 ],
       [ 93.6549342 ,  96.20409384],
       [ 37.33160529,  -6.2362947 ],
       [ 52.16604202,  23.5571594 ],
       [104.833943  , 107.7810191 ],
       [106.4639932 , 112.883657  ],
       [ 79.51558318,  72.00317212],
       [ 41.4999434 ,  20.25934009],
       [113.6214443 , 131.04384   ],
       [ 90.20451127,  94.77986788],
       [ 52.56692661,  28.21059566],
       [ 40.50463433,  14.17040121],
       [ 43.45292157,  23.19979105],
       [122.1252001 , 147.1272496 ],
       [ 55.16828222,  46.89089049],
       [ 96.44691123, 105.7562824 ],
       [119.2731974 , 126.4660848 ],
       [ 52.19022426,  42.06951797],
       [114.8983489 , 138.6278072 ],
       [126.0412086 , 139.406306  ],
       [ 93.14307012,          nan],
       [131.1618641 , 163.3539583 ],
       [ 55.35872543,  38.22375858],
       [ 94.59612783, 105.0461097 ],
       [ 75.91878744,  68.54098922],
       [ 96.9481879 , 100.2372769 ],
       [ 40.11139299,  15.2017754 ],
       [ 95.54238786,          nan],
       [ 66.46740141,  60.2143421 ],
       [120.6995729 ,          nan],
       [104.2402942 , 113.9349495 ],
       [ 82.65762179,          nan],
       [105.5341749 ,          nan],
       [ 87.34855969,  85.16272742],
       [ 69.40200784,  53.37775696],
       [127.3248623 , 160.4954569 ],
       [ 64.43689333,  43.39435848],
       [ 66.26465895,  58.1736831 ],
       [ 90.30720045,  81.64306345],
       [ 89.4048535 ,  87.64350868],
       [114.4503884 , 135.3976986 ],
       [134.4322939 , 159.0736094 ],
       [131.7902232 , 161.3630997 ],
       [ 99.56304732,  91.64481237],
       [132.7401928 , 166.1645443 ],
       [ 70.99088679,  54.86400482],
       [ 87.9094701 ,  78.97916469],
       [123.5807212 , 141.1303998 ],
       [107.6435614 , 119.0882793 ],
       [116.3612443 , 136.2293706 ],
       [ 62.73766606,  35.03959082],
       [112.0489047 , 130.8072421 ],
       [119.861603  , 136.2239313 ],
       [ 59.14093284,  43.34977918],
       [ 95.30589341, 106.1847674 ],
       [103.0198215 , 121.2744298 ],
       [109.2183446 , 115.1818431 ],
       [117.360594  , 137.4299149 ],
       [ 39.5196786 ,  16.02640021],
       [ 37.54642469,          nan],
       [129.9626909 , 141.0131341 ],
       [ 35.91420463,          nan],
       [ 43.85421968,  13.45049208],
       [ 72.88414185,  61.50699688],
       [120.7408594 , 133.9222973 ],
       [100.1797881 , 126.8271164 ],
       [ 59.33376537,  50.25779685],
       [120.1577567 , 144.7546765 ],
       [115.5391524 , 120.6973091 ]])

otra forma de hacerlo

In [4]:
df.values

array([[  0.        , -51.        ],
       [ 25.        , -12.        ],
       [117.5832198 , 134.9074137 ],
       [108.9224662 , 134.0851795 ],
       [ 69.88744536,          nan],
       [ 96.83998269, 114.5306376 ],
       [ 51.77594025,  31.37643731],
       [ 35.01673734,   8.76463417],
       [ 79.45764646,  73.28534128],
       [ 45.3449093 ,  18.85986466],
       [ 77.76713229,  72.9466086 ],
       [ 55.85663802,  28.63728633],
       [ 51.8290553 ,  27.18413784],
       [ 36.07902502,  15.46895475],
       [ 80.63255196,  77.25552457],
       [124.4126644 , 147.817536  ],
       [ 38.88238694,  29.62914801],
       [ 85.24501874,  92.31571653],
       [105.4849878 , 111.063745  ],
       [ 36.82741469,   2.79748519],
       [ 98.61682009,  98.22796195],
       [102.1309415 , 117.0827211 ],
       [101.9740862 , 111.1555591 ],
       [122.5816416 , 147.0235042 ],
       [ 96.36839009,  99.62870641],
       [ 64.89044698,  47.94620302],
       [ 81.87156504,  80.51588907],
       [ 83.46634106,  76.65159462],
       [129.9988213 , 155.5832066 ],
       [129.5934245 , 155.830527  ],
       [ 71.30088195,  52.64410294],
       [ 89.63463319, 100.3291952 ],
       [ 82.74502445,  67.03050817],
       [ 84.29777124,  80.8896434 ],
       [ 93.6549342 ,  96.20409384],
       [ 37.33160529,  -6.2362947 ],
       [ 52.16604202,  23.5571594 ],
       [104.833943  , 107.7810191 ],
       [106.4639932 , 112.883657  ],
       [ 79.51558318,  72.00317212],
       [ 41.4999434 ,  20.25934009],
       [113.6214443 , 131.04384   ],
       [ 90.20451127,  94.77986788],
       [ 52.56692661,  28.21059566],
       [ 40.50463433,  14.17040121],
       [ 43.45292157,  23.19979105],
       [122.1252001 , 147.1272496 ],
       [ 55.16828222,  46.89089049],
       [ 96.44691123, 105.7562824 ],
       [119.2731974 , 126.4660848 ],
       [ 52.19022426,  42.06951797],
       [114.8983489 , 138.6278072 ],
       [126.0412086 , 139.406306  ],
       [ 93.14307012,          nan],
       [131.1618641 , 163.3539583 ],
       [ 55.35872543,  38.22375858],
       [ 94.59612783, 105.0461097 ],
       [ 75.91878744,  68.54098922],
       [ 96.9481879 , 100.2372769 ],
       [ 40.11139299,  15.2017754 ],
       [ 95.54238786,          nan],
       [ 66.46740141,  60.2143421 ],
       [120.6995729 ,          nan],
       [104.2402942 , 113.9349495 ],
       [ 82.65762179,          nan],
       [105.5341749 ,          nan],
       [ 87.34855969,  85.16272742],
       [ 69.40200784,  53.37775696],
       [127.3248623 , 160.4954569 ],
       [ 64.43689333,  43.39435848],
       [ 66.26465895,  58.1736831 ],
       [ 90.30720045,  81.64306345],
       [ 89.4048535 ,  87.64350868],
       [114.4503884 , 135.3976986 ],
       [134.4322939 , 159.0736094 ],
       [131.7902232 , 161.3630997 ],
       [ 99.56304732,  91.64481237],
       [132.7401928 , 166.1645443 ],
       [ 70.99088679,  54.86400482],
       [ 87.9094701 ,  78.97916469],
       [123.5807212 , 141.1303998 ],
       [107.6435614 , 119.0882793 ],
       [116.3612443 , 136.2293706 ],
       [ 62.73766606,  35.03959082],
       [112.0489047 , 130.8072421 ],
       [119.861603  , 136.2239313 ],
       [ 59.14093284,  43.34977918],
       [ 95.30589341, 106.1847674 ],
       [103.0198215 , 121.2744298 ],
       [109.2183446 , 115.1818431 ],
       [117.360594  , 137.4299149 ],
       [ 39.5196786 ,  16.02640021],
       [ 37.54642469,          nan],
       [129.9626909 , 141.0131341 ],
       [ 35.91420463,          nan],
       [ 43.85421968,  13.45049208],
       [ 72.88414185,  61.50699688],
       [120.7408594 , 133.9222973 ],
       [100.1797881 , 126.8271164 ],
       [ 59.33376537,  50.25779685],
       [120.1577567 , 144.7546765 ],
       [115.5391524 , 120.6973091 ]])

## Tranformandolo a un diccionario

In [7]:
df.to_dict()

{'x': {0: 0.0,
  1: 25.0,
  2: 117.5832198,
  3: 108.9224662,
  4: 69.88744536,
  5: 96.83998269,
  6: 51.77594025,
  7: 35.01673734,
  8: 79.45764646,
  9: 45.3449093,
  10: 77.76713229,
  11: 55.85663802,
  12: 51.8290553,
  13: 36.07902502,
  14: 80.63255196,
  15: 124.4126644,
  16: 38.88238694,
  17: 85.24501874,
  18: 105.4849878,
  19: 36.82741469,
  20: 98.61682009,
  21: 102.1309415,
  22: 101.9740862,
  23: 122.5816416,
  24: 96.36839009,
  25: 64.89044698,
  26: 81.87156504,
  27: 83.46634106,
  28: 129.9988213,
  29: 129.5934245,
  30: 71.30088195,
  31: 89.63463319,
  32: 82.74502445,
  33: 84.29777124,
  34: 93.6549342,
  35: 37.33160529,
  36: 52.16604202,
  37: 104.833943,
  38: 106.4639932,
  39: 79.51558318,
  40: 41.4999434,
  41: 113.6214443,
  42: 90.20451127,
  43: 52.56692661,
  44: 40.50463433,
  45: 43.45292157,
  46: 122.1252001,
  47: 55.16828222,
  48: 96.44691123,
  49: 119.2731974,
  50: 52.19022426,
  51: 114.8983489,
  52: 126.0412086,
  53: 93.14307012,
  54: 131.1618641,
  55: 55.35872543,
  56: 94.59612783,
  57: 75.91878744,
  58: 96.9481879,
  59: 40.11139299,
  60: 95.54238786,
  61: 66.46740141,
  62: 120.6995729,
  63: 104.2402942,
  64: 82.65762179,
  65: 105.5341749,
  66: 87.34855969,
  67: 69.40200784,
  68: 127.3248623,
  69: 64.43689333,
  70: 66.26465895,
  71: 90.30720045,
  72: 89.4048535,
  73: 114.4503884,
  74: 134.4322939,
  75: 131.7902232,
  76: 99.56304732,
  77: 132.7401928,
  78: 70.99088679,
  79: 87.9094701,
  80: 123.5807212,
  81: 107.6435614,
  82: 116.3612443,
  83: 62.73766606,
  84: 112.0489047,
  85: 119.861603,
  86: 59.14093284,
  87: 95.30589341,
  88: 103.0198215,
  89: 109.2183446,
  90: 117.360594,
  91: 39.5196786,
  92: 37.54642469,
  93: 129.9626909,
  94: 35.91420463,
  95: 43.85421968,
  96: 72.88414185,
  97: 120.7408594,
  98: 100.1797881,
  99: 59.33376537,
  100: 120.1577567,
  101: 115.5391524},
 'y': {0: -51.0,
  1: -12.0,
  2: 134.9074137,
  3: 134.0851795,
  4: nan,
  5: 114.5306376,
  6: 31.37643731,
  7: 8.764634165,
  8: 73.28534128,
  9: 18.85986466,
  10: 72.9466086,
  11: 28.63728633,
  12: 27.18413784,
  13: 15.46895475,
  14: 77.25552457,
  15: 147.817536,
  16: 29.62914801,
  17: 92.31571653,
  18: 111.063745,
  19: 2.797485194,
  20: 98.22796195,
  21: 117.0827211,
  22: 111.1555591,
  23: 147.0235042,
  24: 99.62870641,
  25: 47.94620302,
  26: 80.51588907,
  27: 76.65159462,
  28: 155.5832066,
  29: 155.830527,
  30: 52.64410294,
  31: 100.3291952,
  32: 67.03050817,
  33: 80.8896434,
  34: 96.20409384,
  35: -6.236294705,
  36: 23.5571594,
  37: 107.7810191,
  38: 112.883657,
  39: 72.00317212,
  40: 20.25934009,
  41: 131.04384,
  42: 94.77986788,
  43: 28.21059566,
  44: 14.17040121,
  45: 23.19979105,
  46: 147.1272496,
  47: 46.89089049,
  48: 105.7562824,
  49: 126.4660848,
  50: 42.06951797,
  51: 138.6278072,
  52: 139.406306,
  53: nan,
  54: 163.3539583,
  55: 38.22375858,
  56: 105.0461097,
  57: 68.54098922,
  58: 100.2372769,
  59: 15.2017754,
  60: nan,
  61: 60.2143421,
  62: nan,
  63: 113.9349495,
  64: nan,
  65: nan,
  66: 85.16272742,
  67: 53.37775696,
  68: 160.4954569,
  69: 43.39435848,
  70: 58.1736831,
  71: 81.64306345,
  72: 87.64350868,
  73: 135.3976986,
  74: 159.0736094,
  75: 161.3630997,
  76: 91.64481237,
  77: 166.1645443,
  78: 54.86400482,
  79: 78.97916469,
  80: 141.1303998,
  81: 119.0882793,
  82: 136.2293706,
  83: 35.03959082,
  84: 130.8072421,
  85: 136.2239313,
  86: 43.34977918,
  87: 106.1847674,
  88: 121.2744298,
  89: 115.1818431,
  90: 137.4299149,
  91: 16.02640021,
  92: nan,
  93: 141.0131341,
  94: nan,
  95: 13.45049208,
  96: 61.50699688,
  97: 133.9222973,
  98: 126.8271164,
  99: 50.25779685,
  100: 144.7546765,
  101: 120.6973091}}

para suprimir una salida automatica solo hay que agregar el ";"

In [8]:
df.to_dict();

---
### Exportando tramas de datos a csv o excel
Imagina que en un principio cargas una base, luego la filtras y posterior a eso quieres que la nueva base te quede guardada en un nuevo tipo de archivo, esto se hace con:

* df.to_csv()
* df.to_excel()

In [9]:
filename1="/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScienceUnilever2022/Track 1/Clases/2-Pandas/data/mortgages.csv"
df1=pd.read_csv(filename1)

Filtrando la trama de datos

In [11]:
mortgage_filter = df1['Mortgage Name']=='30 Year'
interest_filter = df1['Interest Rate']==0.03
df1 = df1.loc[mortgage_filter & interest_filter, :]
df1

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03
...,...,...,...,...,...,...,...,...
355,356,8364.12,1686.42,20.91,1665.51,6698.61,30 Year,0.03
356,357,6698.61,1686.42,16.74,1669.68,5028.93,30 Year,0.03
357,358,5028.93,1686.42,12.57,1673.85,3355.08,30 Year,0.03
358,359,3355.08,1686.42,8.38,1678.04,1677.04,30 Year,0.03
359,360,1677.04,1686.42,4.19,1682.23,-5.19,30 Year,0.03

In [12]:
# Exportando a csv
df1.to_csv(path_or_buf='oneMortage.csv',index=False)

In [13]:
#exportando a excel
df1.to_excel(excel_writer='oneMortage.xlsx',index=False)

para obtener ayuda con los parametros de un metodo, solo hay que poner 
help(metodo):

In [14]:
help(df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: 'FilePathOrBuffer[AnyStr] | None' = None, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'str | None' = None, columns: 'Sequence[Hashable] | None' = None, header: 'bool_t | list[str]' = True, index: 'bool_t' = True, index_label: 'IndexLabel | None' = None, mode: 'str' = 'w', encoding: 'str | None' = None, compression: 'CompressionOptions' = 'infer', quoting: 'int | None' = None, quotechar: 'str' = '"', line_terminator: 'str | None' = None, chunksize: 'int | None' = None, date_format: 'str | None' = None, doublequote: 'bool_t' = True, escapechar: 'str | None' = None, decimal: 'str' = '.', errors: 'str' = 'strict', storage_options: 'StorageOptions' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a non-binary file object is passed, it should be opened
        with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.

        .. versionchanged:: 1.2.0

           Support for binary file objects was introduced.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.
    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
        one of the above, other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip' and 'bz2'
           as well as 'zip'.

        .. versionchanged:: 1.2.0

            Compression is supported for binary file objects.

        .. versionchanged:: 1.2.0

            Previous versions forwarded dict entries for 'gzip' to
            `gzip.open` instead of `gzip.GzipFile` which prevented
            setting `mtime`.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib`` as header options. For other URLs (e.g.
        starting with "s3://", and "gcs://") the key-value pairs are forwarded to
        ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

---
## MÃ©todos de agregaciÃ³n
Son resumenes estadisticos que permite entender de mejor manera y veloz los datos que se muestran
estos pueden ser:
*sum
*cumsum
*mean
*median
*min
*max
*mode
*std
*var
*quantile
pero siempre debes revisar la .shape para ver que los datos tengan sentido

In [15]:
df1.shape #360 pagos y 8 columnas

(360, 8)

In [16]:
df1['Interest Paid'].sum()

207106.01

In [17]:
df1['Interest Paid'].cumsum()

0        1000.00
1        1998.28
2        2994.84
3        3989.67
4        4982.77
         ...
355    207064.13
356    207080.87
357    207093.44
358    207101.82
359    207106.01
Name: Interest Paid, Length: 360, dtype: float64

In [18]:
df1['Interest Paid'].mean()

575.294472222222

In [19]:
df1['Interest Paid'].median()

611.8399999999999

In [20]:
df1['Interest Paid'].mode()

0         4.19
1         8.38
2        12.57
3        16.74
4        20.91
        ...
355     993.10
356     994.83
357     996.56
358     998.28
359    1000.00
Length: 360, dtype: float64

In [21]:
df1['Interest Paid'].min()

4.19

In [22]:
df1['Interest Paid'].max()

1000.0

In [23]:
df1['Interest Paid'].std()

286.80504676983196

In [24]:
df1['Interest Paid'].var()

82257.13485264548

In [27]:
df1['Interest Paid'].quantile(q=0.25) #default 0.5

341.90999999999997

para un resumen de todas las columnas

In [28]:
df1.sum()

Month                                                           64980
Starting Balance                                          82843130.97
Repayment                                                    607111.2
Interest Paid                                               207106.01
Principal Paid                                              400005.19
New Balance                                               82443125.78
Mortgage Name       30 Year30 Year30 Year30 Year30 Year30 Year30 Y...
Interest Rate                                                    10.8
dtype: object

Notar que en mortgage name se ve asÃ­ pq son strings

---
## GroupBy
esto al igual que en sql sirve para agrupar resultados, pero en r y python se usa para dividir, aplicar algun metodo y luego se combinan los datos

ejemplo

In [30]:
df_cities=pd.DataFrame(data=[['Seattle',1], 
['Kirkland',2],
['Redmond',3],
['Seattle',4],
['Kirkland',5],
['Redmond',6]],columns=['key','data'])

sumando gracias a la agregaciÃ³n con la llave de ciudad,
en otras palabras, sumando por ciudad

In [31]:
df_cities.groupby(['key']).sum()
#base.agrupalo_por([la llave]).aplicar_la_agregaciÃ³n()

          data
key
Kirkland     7
Redmond      9
Seattle      5

In [32]:
#especificando la columna para hacer la agregaciÃ³n
df_cities.groupby(['key'])[['data']].sum()

          data
key
Kirkland     7
Redmond      9
Seattle      5

In [36]:
filename2="/Users/matiasinostrozacifuentes/Desktop/python_intro/DataScienceUnilever2022/Track 1/Clases/2-Pandas/data/mortgages.csv"
df2=pd.read_csv(filename2)
df2.columns

Index(['Month', 'Starting Balance', 'Repayment', 'Interest Paid',
       'Principal Paid', 'New Balance', 'Mortgage Name', 'Interest Rate'],
      dtype='object')

In [38]:
#quiero la suma de los intereses pagados por tasa de interes 
# y por mortgage name
df2.groupby(['Mortgage Name','Interest Rate'])[['Interest Paid']].sum()

                             Interest Paid
Mortgage Name Interest Rate
15 Year       0.03                97217.42
              0.05               169370.43
30 Year       0.03               207106.01
              0.05               373017.23